#go{
    position: absolute;
    left: 45%;
    top: 30%;
}

#rs{
    position: absolute;
    left: 47%;
    top:50%;
}

#sc{
    position: absolute;
    left: 50%;
    top : 45%;
}
#ss{
    position: absolute;
    left: 45%;
    top : 45%;
}